h1, h2 {
  font-weight: 100;
}

.text-white {
  color: #fff;
}

.btn-white {
  color: #fff;
  border: 1px solid #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: rgba(0,0,0,0.0);

  &:hover {
    color: #fff;
  }
}

.top-hero-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: image-url('background-2068215_1280.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.top-hero-container {
  padding-top: 220px;
  h1 {
    font-size: 56px;
    margin-bottom: 20px;
  }

  h2 {
    margin-bottom: 60px;
  }
}



.form-control {
  height: 45px;
}

.users-new-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: image-url('background-2068215_1280.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;

  .users-new-container {
    padding-top: 220px;

    .form-group {
      margin-bottom: 20px;
    }
  }
}


.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000;
}



.navbar-transparent {
  margin-bottom: 0px;
  background-color: rgba(0,0,0,0.5);
  a {
    color: #fff !important;
  }

  .navbar-brand {
    padding: 0px;
    margin-top: 15px;
  }

  img {
    height: 40px;
  }
}




.btn-black {
  color: #565656;
  border: 1px solid #565656;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: rgba(0,0,0,0.0);

  &:hover {
    color: #565656;
  }
}

.recipe-new-wrapper {
  padding-top: 120px;
}


//navbar

.navbar {
  background-color: #000000 /* 背景色 */
}

.navbar-brand {
  height: 50px; /* 適切な高さに調整してください */
  padding: 15px 0; /* 適切なパディングを追加してください */
}

.navbar-nav img {
  height: 30px; /* 適切な高さに調整してください */
  width: auto; /* 高さに合わせて幅を自動調整 */
  margin-top: 10px; /* 適切なマージンを追加してください */
}



//レシピ集

.fixed-button {
  position: fixed;
  top: 70px;
  right: 55px;
  z-index: 1000; /* 他の要素より上に表示 */
  font-size: 150%;
}

.recipe-index-single-wrapper {
  margin-bottom: 30px;
}

.recipe-index-img {
  position: relative; /* relative = 子要素.imgの基準 */
  width: 100%;
  height: 0; /* .recipe-index-img 要素自体は高さがゼロで、子要素がはみ出しても非表示 */
  padding-top: 75%; /* アスペクト比 4:3 の場合 (3 / 4 * 100%) ここでは.recipe-index-img 要素に対して設定している */
  overflow: hidden;
  margin-bottom: 5px;
}

.recipe-index-img img {
  position: absolute; /* 親要素.recipe-index-img に対して相対的な位置を指定 */
  top: 0; /* absoluteが指定された場合に設定する親要素に対する基準位置、今回は左上隅 */
  left: 0; /* absoluteが指定された場合に設定する親要素に対する基準位置、今回は左上隅 */
  width: 100%;
  height: 100%;
  object-fit: cover; /* 画像比率をそのままに、中央で自動的でトリミング */
}

.recipe-title-author {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 10px; /* タイトル、作者、作成日の間に隙間を設定 */
}

.recipe-title {
  font-size: 32px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0px;
  color: black;
}

.recipe-author {
  padding-left: 10px;
  font-size: 20px;
}

.recipe-created_at {
  padding-left: 10px;
  font-size: 16px;
  color: #7d7d7d;
}

.recipe-text {
  font-size: 16px;
  margin-top: 20px;
  padding-right: 20px;
  padding-left: 5px;
}

.recipe-index-icon {
  width: 35px;
  height: 30px;
  margin-left: 20px;
  margin-bottom: 14px;
}

.recipe-index-favorite-black-icon {
  font-size: 300%;
  margin-left: 10px;
  color: black;
}

.recipe-index-favorite-red-icon {
  font-size: 300%;
  margin-left: 10px;
  color: red;
}

.comment {
  font-size: 20px;
  margin-top: 15px;
  padding-right: 20px;
  padding-left: 0px;
}

.comment-description {
  font-size: 16px;
  padding-right: 0px;
  padding-left: 20px;
  //max-height: 150px; /* 表示したい最大の高さを指定 */
  //overflow-y: auto; /* 高さを超えた分はスクロールできるように */
}

.comment-user {
  font-size: 70%;
  color: #7d7d7d;
  margin-left: 10px;
}

  
//献立（Menu）カレンダー
    
.calendar-wrapper {
  margin-top: 100px;
}

.calendar-day {
  font-size: 24px;
}

.calendar-menu {
  font-size: 14px;
}

.simple-calendar thead th {
  background-color: #ffffff; /* 曜日の背景色を白に変更 */
  font-size: 24px; /* 任意のフォントサイズに調整 */
  text-align: center;
}

.simple-calendar tbody td {
  background-color: #ffffff; /* カレンダーのセルの背景色を変更 */
  border: 1px solid #gray; /* セルのボーダーを設定（任意） */
}

/* カレンダー内で今日の日付を特別に強調する場合 */
.simple-calendar tbody td.today {
  background-color: #ffcccc;
}

/* カレンダーのデフォルトの高さを設定 */
.simple-calendar tbody td {
  height: 300px; /* 任意の高さに調整 */
}

/* 何も予定がない場合の高さを調整 */
.simple-calendar tbody td:not(.event) {
  height: 80px; /* 任意の高さに調整 */
}

/* イベントがある場合のスタイル（任意） */
.simple-calendar tbody td.event {
  background-color: #ffeecc;
  border: 1px solid #ccc;
  height: 80px; /* 任意の高さに調整 */
}

/* スマートフォンサイズのスタイル */
//@media screen and (max-device-width: 768px) {
@media screen and (max-width: 700px) {
  .calendar-day {
    font-size: 36px;
    /* 他のスタイルがあればそれらと併記 */
  }
  
  .calendar-menu {
    font-size: 24px;
  }
}
